# MySQL Config
MYSQL_ROOT_PASSWORD=password

# SMTP Mail Server Config
SPRING_MAIL_HOST=smtp.mailtrap.io
SPRING_MAIL_PORT=2525
SPRING_MAIL_USERNAME=your_smtp_username
SPRING_MAIL_PASSWORD=your_smtp_password

# Payment Gateways API Credentials
STRIPE_API_KEY=sk_test_51...
RAZORPAY_KEY_ID=rzp_test_...
RAZORPAY_KEY_SECRET=your_razorpay_secret
